[2015-09-14 16:43] iambmelt opened #1 "Add readme w/ imgs"

[2015-09-14 16:51] #1 closed, assigned to iambmelt

[2015-09-14 17:52] iambmelt opened #3 "Simplify make to install / run seperately"

[2015-09-14 18:05] #3 closed, assigned to iambmelt

[2015-09-14 21:00] iambmelt opened #7 "Scrub client_id & app registration details prior to publish"

[2015-09-14 21:16] iambmelt opened #8 "Split instructions on platform (if inconsistent)"
Currently the Makefile will fail on non-OSX platforms.

[2015-09-14 21:45] #8 closed, assigned to iambmelt

[2015-09-15 00:17] iambmelt opened #11 "Inject license info into source code"

[2015-09-15 17:52] #11 closed, assigned to iambmelt

[2015-09-15 17:52] iambmelt opened #13 "Remove old prereqs notes"

[2015-09-15 17:53] #13 closed, assigned to iambmelt

[2015-09-17 21:36] #7 closed, assigned to iambmelt

[2015-09-21 16:40] iambmelt opened #20 "Add text explaining the purpose of the application's redirect_uri value in the Azure config"

[2015-09-21 16:51] iambmelt opened #21 "Include Azure setup for multi-tenant registrations?"
Per convo with @jasonjoh we should consider suggesting making the app multi-tenant during registration in case a developer tries testing with an account other than the one used to register the app.

[2015-09-21 17:01] iambmelt opened #22 "Add support for O365 instrumentation headers"
`client-request-id` and `return-client-request-id`

[2015-12-21 12:32] geoah commented on #21
Is there any progress or links relating to this? The process would be very useful.

[2015-12-21 18:48] iambmelt commented on #21
Hi @geoah - for a detailed set of documentation on this see [this](https://msdn.microsoft.com/en-us/library/hh534478.aspx) article on MSDN.

For the super-quick 'how do I make a registration multi-tenant?':

1. Log in to manage.windowsazure.com (Ignore the prompts the use the new management portal, these instructions are for the older portal).
2. On the left rail, scroll down to 'Active Directory'

[2016-02-19 22:06] philipodonnell opened #35 "Running sample app fails with unsupported segment type"
Downloaded and started the stock Node.JS sample app from the site: http://dev.office.com/getting-started/office365apis

Connected to my account, any attempt to send the email fails with this in the terminal:

[code]

[2016-02-20 00:52] Ricalo commented on #35
Hey @philipodonnell

I tried both versions and you're right, the one from dev.office.com crashes. The one from this repo works fine.

I noticed that the sample from http://dev.office.com/getting-started/office365apis has the following in line 89:

`
requestUtil.postData('graph.microsoft.com', '/v1.0/me/sendMail'...
`

That same line from this repo has the following:

`
requestUtil.postData('graph.

[2016-02-20 02:21] philipodonnell commented on #35
@ricalo That worked great, thanks so much for pointing out the diff.

[2016-02-21 23:13] Ricalo commented on #35
No problem, thank you for letting is know :+1:

[2016-02-21 23:13] #35 closed

[2016-02-25 18:25] iambmelt commented on #35
@Ricalo should we loop in @keyur32 to aid us in getting this updated in the Getting Started exp?

[2016-02-25 19:26] Ricalo commented on #35
Yes, @jamescro already notified him. A fix is in the way.
Thanks for the reminder, @iambmelt

[2016-06-02 17:13] DaveVoyles opened #39 "Constant redirect when logging in"
**Steps to reproduce:**

- npm Install
- npm Start
- Nav to locahost:3000
- Enter credentials to log in

**Expected result**
Log-in with office graph

**Actual result**
Back to localhost:3000/login

**Notes:**
Console is empty
URL displays:
_http://localhost:3000/login?error=unauthorized_client&error_description=AADSTS70001%3a+Application+%278da52ad8-962c-48ea-886c-5bf72505c834%27+is+not+supported

[2016-06-02 18:32] Ricalo commented on #39
Hi @DaveVoyles

Quick question. Did you register your app in the [Application Registration Portal](https://apps.dev.microsoft.com)?

If that's the case, the URL shows the right error message. **The application is not supported for this API version**.

This sample uses [ADAL for Node.js](https://github.com/AzureAD/azure-activedirectory-library-for-nodejs), which still doesn't support apps registere

[2016-06-02 20:46] DaveVoyles commented on #39
I'm glad you said something -- I didn't realize there was a third portal to register at!

![image](https://cloud.githubusercontent.com/assets/1786053/15760460/5014334e-28e1-11e6-81d6-63694cc32a6c.png)

I registered there, and all seems to work well.  However, I tried logging into the app with my work credentials (I also work at Microsoft) via Dvoyles at microsoft, entered my password, received a p

[2016-06-02 22:48] Ricalo commented on #39
Oh, the 2nd and 3rd portals are essentially the same.
app-registration is just a wrapper that registers the app on manage.windowsazure.com

The first one is used to register apps with the [Azure App Model v2](https://azure.microsoft.com/en-us/documentation/articles/active-directory-appmodel-v2-overview/). Unfortunately, the libraries that we are using are still not ready for this new model. I'll u

[2016-06-03 12:50] DaveVoyles commented on #39
OK, thank you for clarifying, now I understand!

Do you know of a sample that I could use to parse the office graph from a corp account?

Essentially I'm trying to log in via my corp ID, grab the name + loc of my co-workers, and draw that to a map.

[2016-06-03 16:58] Ricalo commented on #39
Mmm... the PHP version of this sample works with my corporate account.
[Office 365 PHP Connect sample using Microsoft Graph](https://github.com/microsoftgraph/php-connect-rest-sample)

The PHP sample doesn't use an authentication library. That should be okay for a demo, but for production, you should use an OAuth library.

Oh, I forgot to ask, are you looking specifically for a node sample? Or doe

[2016-06-06 12:22] DaveVoyles commented on #39
Yes please, it would have to be a node sample, as I am building this for a tutorial series around node and Office.

So that I better understand, is the issue that the Office graph cannot be parsed w/ a corp account, or just that this auth library does not support that?

[2016-06-06 22:57] Ricalo commented on #39
The issue is that the authentication library doesn't support multiple tenants. At the moment, if you use this library you can only authenticate users from the same tenant where you registered the web application.

[2016-07-20 01:02] Ricalo commented on #21
Hi, with #41 the sample supports the App Model v2 along with users from multiple tenants. Feel free to reopen this issue if this does not support your multi-tenant scenario.

[2016-07-20 01:02] #21 closed

[2016-07-20 01:04] Ricalo commented on #39
Since #41, this sample supports users from multiple tenants as a consequence of supporting the App Model v2. I believe this should take care of this issue. Feel free to reopen the issue if that is not the case.

[2016-07-20 01:04] #39 closed

[2016-10-09 19:06] rbarten opened #48 "Refresh Token returned is always undefined"
The Refresh Token returned from 'getTokenFromCode' is always undefined. Within AuthHelper the oauth nodejs libary is used. Looks like this method 'getOAuthAccessToken' in the library doesn't return the Refresh Token or am I missing something here?

[2016-10-09 19:19] rbarten commented on #48
Never mind... was missing 'offline_access' in the scope..

[2016-10-09 19:19] #48 closed

[2016-11-13 16:13] briviere opened #49 "Getting the following exception?"
Not Found

Error: Not Found
    at IncomingMessage.<anonymous> (/home/brian/nodejs-connect-rest-sample-master/requestUtil.js:79:17)
    at emitNone (events.js:91:20)
    at IncomingMessage.emit (events.js:185:7)
    at endReadableNT (_stream_readable.js:934:12)
    at _combinedTickCallback (internal/process/next_tick.js:74:11)
    at process._tickCallback (internal/process/next_tick.js:98:9)

[2016-11-15 14:36] DianeD commented on #49
Hi @briviere . Thanks for reporting this issue. Can you please either put a breakpoint on line 91 in requestUtil.js and see what the error.innerError.message is, or add this line to error.hbs?

`<pre>{{error.innerError.message}}</pre>`

[2016-11-16 01:58] briviere commented on #49
Hello @DianeD

Here is the error I'm getting:

{ Error: Not Found
    at IncomingMessage.<anonymous> (/home/brian/nodejs-connect-rest-sample-master/requestUtil.js:79:17)
    at emitNone (events.js:91:20)
    at IncomingMessage.emit (events.js:185:7)
    at endReadableNT (_stream_readable.js:934:12)
    at _combinedTickCallback (internal/process/next_tick.js:74:11)
    at process._tickCallback (int

[2016-11-16 21:23] DianeD commented on #49
Thanks @briviere . I'm checking to see if I can learn more on this end using the request-id, but I may need to ask you for the whole response body and headers.

[2016-11-17 23:36] briviere commented on #49
ADAL

    ✓ Checking clientID and clientSecret in authHelper.js

  1 passing (13ms)

[0mGET / [32m200 [0m627.805 ms - 1623[0m
[0mGET /stylesheets/style.css [36m304 [0m11.989 ms - -[0m
IncomingMessage {
  _readableState:
   ReadableState {
     objectMode: false,
     highWaterMark: 16384,
     buffer: [],
     length: 0,
     pipes: null,
     pipesCount: 0,
     flowing: true,
     ended:

[2016-11-18 16:12] DianeD commented on #49
Thanks @briviere ! One of our engineers is looking into this.

[2016-11-28 04:25] DianeD commented on #49
@briviere , I'm afraid we didn't get any more information from the logs. Would you be able to sign into the [Graph explorer](https://graph.microsoft.io/en-us/graph-explorer) with your account and see if the request works from there? If you get the same error, then can you please send the entire request body that's returned? Here's an abbreviated version of the sendMail REST request that you can us

[2016-11-29 12:52] briviere commented on #49
@DianeD Here is the response from Graph Explorer:

Status Code: 404

{
    "error": {
        "code": "UnknownError",
        "message": "",
        "innerError": {
            "request-id": "e21085ca-7e03-4ff4-a20d-ba7cc7d94156",
            "date": "2016-11-29T12:49:30"
        }
    }
}

[2016-11-29 13:50] briviere commented on #49
After setting up outlook live the above query appears to be working now:

client-request-id: aabf4add-49e3-4483-ab97-9dfe15347eb4
content-type: text/plain
cache-control: private
request-id: aabf4add-49e3-4483-ab97-9dfe15347eb4
Status Code: 202

[2016-11-29 15:17] DianeD commented on #49
Thanks @briviere . Does the query also work in the sample?

[2016-11-30 01:06] briviere commented on #49
@DianeD Yes it is working now. Since my outlook mail was not configured the 404 not found make sense to me now.

Thanks

[2016-11-30 01:12] DianeD commented on #49
Great, thanks again!

[2016-11-30 01:12] #49 closed

[2016-12-06 12:14] prc322 opened #50 ""The user or administrator has not consented to use the application""
I've created an app at https://apps.dev.microsoft.com and configured the example as mentioned at https://graph.microsoft.io/en-us/docs/get-started/nodejs

After clicking the login button the example redirects me to the Microsoft login page where I enter my credentials and accept that the app will be able to User.Read. After successfully logging in Microsoft redirects me back to the example, with a

[2016-12-06 23:46] DianeD commented on #50
Hi @prc322 . Thanks for reporting this issue. I downloaded the project and followed the steps in the walkthrough but haven't been able to reproduce it (tried with different users/tenants/browsers). I've occasionally encountered this error when testing various apps, sometimes for reasons not apparent to me. I think re-registering the app has fixed it before, but I'm going to try to find some other

[2016-12-14 00:08] DianeD commented on #50
Hi @prc322 . I haven't found much actionable info about this issue that might apply to this sample. Is it still reproducing? Did you try creating a new app registration?

Some things that might help troubleshoot, based on related issues:
You can capture the access token, paste it in [http://jwt.io](http://jwt.io), and check that the "scp" parameter grants 'Mail.Send User.Read' access. (Note that i

[2016-12-19 18:10] ZayaPro opened #52 "Sample totally not working"
Everytime saying Bad Request after successful login. Thats always, everywhere and on several machines.

[2016-12-20 19:00] DianeD commented on #52
Hi @ZayaPro . Thanks for reporting this issue. You are getting the error after you click the **Send mail** button? Can you please log into [Graph explorer](https://graph.microsoft.io/graph-explorer) with the same account and see if it reproduces there? Here's the request:

`POST https://graph.microsoft.com/v1.0/me/sendMail` (or `https://graph.microsoft.com/v1.0/me/microsoft.graph.sendMail`, which

[2016-12-26 16:11] DianeD commented on #50
@prc322 Thanks again for reporting. Please reopen if you're still getting this error.

[2016-12-26 16:11] #50 closed

[2017-01-17 18:18] DianeD commented on #52
Hi @ZayaPro . Please reopen this issue if you're still having problems.

[2017-01-17 18:18] #52 closed

[2017-02-04 16:24] FreedomPaul opened #53 "Unable to read JSON request payload."
I get the error :
"{
  "error": {
    "code": "BadRequest",
    "message": "Unable to read JSON request payload. Please ensure Content-Type header is set and payload is of valid JSON format.",
    "innerError": {
      "request-id": "c9608a1e-84c8-4aae-bb2c-09b7dc16ed8c",
      "date": "2017-02-04T14:37:28"
    }
  }
}"

[2017-02-04 16:40] DianeD commented on #53
Hi @FreedomPaul . Thanks for reporting this issue. When are you getting this error? Can you log in?

[2017-02-04 16:57] FreedomPaul commented on #53
Yes,I can log in.  when I choose the Send Mail button,I get that error:BadRequest. I try to debug and I see  that JSON.

[2017-02-04 17:03] DianeD commented on #53
Thanks for the info. I wasn't able to repro the issue, so I'll ask the product team to look at your request in the service logs to see if they can help troubleshoot.

[2017-02-05 11:30] FreedomPaul commented on #53
Hi @DianeD . Today I find out the cause of that issue is  Content-Length .

I suppose  the `emailAsPayload.Message.Body.content` variable in this sample contains some Chinese characters because of my Office 365 account name when the sample is running.My Office 365 account name using my Chinese name.It causes that error:`Unable to read JSON request payload`.

I suddenly find a solution from the Int

[2017-02-05 14:59] DianeD commented on #53
Thanks for letting us know! I'll make a note of this in the sample.

[2017-02-24 21:52] DianeD commented on #53
Comment added. Thanks again @FreedomPaul !

[2017-02-24 21:52] #53 closed

[2017-03-15 11:14] ayapsone opened #54 "Getting generic error "Error: Not Found" nodejs-connect-rest-sample\requestUtil.js:80:17"
Error on screen after click "send email"
*****
Error: Not Found
    at IncomingMessage.<anonymous> (C:\Workspaces\jsprojects\nodejs-connect-rest-sample\requestUtil.js:80:17)
    at emitNone (events.js:72:20)
    at IncomingMessage.emit (events.js:166:7)
    at endReadableNT (_stream_readable.js:921:12)
    at nextTickCallbackWith2Args (node.js:442:9)
    at process._tickCallback (node.js:356:17)
*

[2017-03-15 13:58] FreedomPaul commented on #54
Hi,@ayapsone.
Can you debug it?
you need to watch the value of  that  `error` variable at the 80 line of the requestUtil.js file if you can.

[2017-03-15 21:42] DianeD commented on #54
Hi @ayapsone . Can you please log into [Graph Explorer](https://developer.microsoft.com/en-us/graph/graph-explorer) with the same user account and try the call there? Sometimes 404 is returned if your account isn't fully set up, so this should test that too. If you get an error response, then can you please send the entire response body that's returned?

1. Sign in with the account you used for th

[2017-03-16 09:46] ayapsone commented on #54
you are right,How do i setup my account then ?
Getting 404 in graph explorer
***
client-request-id: c6de1668-cdd6-4bee-9ed2-aabcc7557573
content-type: application/json
cache-control: private
request-id: c6de1668-cdd6-4bee-9ed2-aabcc7557573
Status Code: 404
{
    "error": {
        "code": "ResourceNotFound",
        "message": "Resource could not be discovered.",
        "innerError": {

[2017-03-17 16:10] DianeD commented on #54
Someone with a [similar issue](https://github.com/microsoftgraph/nodejs-connect-rest-sample/issues/49#issuecomment-263574623) was able to resolve it, I think by logging into https://portal.office.com. Can you try that and make sure you can send and receive email, and then try the query again?

The product team says this could also happen when a user's mailbox is present on an unsupported Exchange

[2017-04-12 14:15] DianeD commented on #54
Hi @ayapsone . Closing this issue. Please reopen if you're still having problems.

[2017-04-12 14:15] #54 closed

[2017-05-11 18:20] BurtHarris opened #56 "Mismatched Redirect URL using the MS Graph quick-start page"
A sample app generated using the [Microsoft Graph quick-start page](https://developer.microsoft.com/en-us/graph/graph/quick-start) fails to operate correctly due to a mismatch between the **Redirect URL** configured for the application.   The quick start sets this parameter to `http://localhost:3000/login`, while the sample code seems to expect it set to `http://localhost:300/token`

Without modif

[2017-05-11 19:00] BurtHarris opened #57 "Poor handling of undefined profile fields"
Running this sample, after resolving the login problem, I get the following exception, which seems to be caused by undefined fields in `req.user.profile`

[code]

[2017-05-11 19:23] BurtHarris opened #58 "Questionable URL in CONTRIBUTING.MD"
The CONTRIBUTING.MD instructions include instructions to issue the following command:
[code]
The *OfficeDev* URL above seems questionable for this project.   Is stale information from another project?

[2017-05-11 19:28] jamescro commented on #58
Thanks for catching this. That section doesn't even apply to code sample contributions, so I removed it.

[2017-05-11 19:28] #58 closed

[2017-05-11 19:30] jamescro commented on #57
Thanks for catching this bug. We will investigate and fix ASAP.

[2017-05-11 19:34] jamescro commented on #56
Thanks for catching this as well. This appears to be an issue with the quick start, since the sample in the repo already sets the redirect URL to http://localhost:3000/token. We'll get the quick start fixed ASAP.

[2017-05-11 19:39] BurtHarris opened #59 "Questionable URL in CONTRIBUTING.MD"
The CONTRIBUTING.MD instructions include instructions to issue the following command:
[code]
The *OfficeDev* URL above seems questionable for this porject?   Is stale information from another project?

[2017-05-11 19:40] BurtHarris commented on #56
I see the quick-start generates configurations that work across samples in several languages.   Is the use of "token" vs. "login" generally correct, or should this be considered a bug in the nodejs sample?

[2017-05-11 19:40] jamescro commented on #59
See  issue 58: https://github.com/microsoftgraph/nodejs-connect-rest-sample/issues/58

[2017-05-11 19:40] #59 closed

[2017-05-11 19:46] BurtHarris commented on #56
Note also that the login.live.com page really doesn't implement good error message practices, the message leaves the impression the problem is something Microsoft will have to address.    This failure to propagate a good error description contributes to the general impression that the new authentications mechanisms are HARD, when it really shouldn't be..

[2017-05-11 19:51] jamescro commented on #56
This is a bug in the quick start and the readme, since updates to the code changed the redirect URI that you need to register. I've verified that the sample works if you register a client with http://localhost:3000/token as the redirect URI. The readme and the quick start need to be updated to reflect that. I will update the readme and pursue a fix with the quick start.

As for the poor error mess

[2017-05-11 19:52] jamescro commented on #56
I should also point out that the problem with the undefined fields in your other issue appears to be a side-effect of this registration issue. Changing the redirect URI in the config.js file to the one that is registered for the sample will get you past the authentication stage, but you end up redirecting to the wrong page after successful authentication.

[2017-05-12 19:15] BurtHarris opened #61 "Question: MSAL vs Passport"
I see this sample uses the NPM modules [passport](https://www.npmjs.com/package/passport) & [passport-azure-ad](https://www.npmjs.com/package/passport-azure-ad) rather than [msal](https://www.npmjs.com/package/msal), while msal seems to be played up in the recent Build conference.

Is there some underlying reason for this?   Does msal support the same scenario?

[2017-05-12 19:35] jamescro commented on #61
We are working to update our samples to use MSAL and haven't gotten to all of them yet. The existing MSAL.js supports only client-side applications, so it won't work with this sample. We will eventually use MSAL whenever a library is available.

[2017-05-12 19:35] #61 closed

[2017-05-16 19:56] simra opened #62 "QuickStart README.md references non-existent files."
The README in the zip archive provided by quickstart has incorrect instructions, referencing some non-existent .js configuration files.  The repo README is correct and it looks like the quickstart archive just needs updating.

[2017-05-22 08:49] faultylee commented on #57
Hi, I'm getting the same error, and I have a peek inside req.user.profile
[code]

[2017-05-22 16:48] jamescro commented on #57
Thanks for the update. Just for clarity, do you see this problem when you run the quick start, or are you seeing it after downloading or cloning the repo and registering and configuring the client yourself. The problem reported in the first note in this thread is a downstream result of a problem with the quick start, which registers an incorrect redirect URI for the client. Once that problem is fi

[2017-05-23 05:20] faultylee commented on #57
@jamescro I didn't use the quickstart nor cloning the repo, to save time, I copy-and-paste the content of the needed files into https://glitch.com/edit/#!/cute-fur I managed to get most part working except this. From the error it doesn't seems to be issue running this in `glitch.com`

[2017-05-23 16:50] jamescro commented on #57
Thanks. After we fix the quick start issue, I'll look into creating better handling of null and undefined values.

[2017-05-24 05:53] faultylee commented on #57
[code]
The code at [route/index.js#L59](https://github.com/microsoftgraph/nodejs-connect-rest-sample/blob/master/routes/index.js#L59) needs both `displayName` & `email[0].address`. Even without null handling, why would the profile be `null` to begin with?

[2017-05-24 18:34] jamescro commented on #62
Thanks for the update. This will be remedied as soon as we can deploy a new version of the quick start.

[2017-05-24 18:36] jamescro commented on #57
I don't know anything about the account you're using, but it appears that this one user has nothing configured for the displayName property. This user also appears to have no email addresses. I do see something for the name property, though, so the user appears to exist. Is this a test account?

[2017-05-25 00:17] faultylee commented on #57
Although it's showing 'name: [Object]', but when I go into `name`, it's `undefined` as well.

I'm using my work account. Our company have recently migrated to Office 365 (including AD), so I was taking this opportunity to explore pushing data into Excel Online, like I used to do in Google Spreadsheet. The Graph API seems to be the way to go, and I stumble into this sample. I used this as a quick t

[2017-05-25 16:56] jamescro commented on #57
If your organization has recently moved to O365, then perhaps some of the data hasn't fully migrated. You might want to talk with an admin about this.
If you're interested in Excel operations with Graph, you can see a number of Excel operations in this sample:

https://github.com/microsoftgraph/uwp-csharp-snippets-sample

[2017-06-01 21:19] jamescro commented on #56
This is now fixed in the live quick start.

[2017-06-01 21:26] jamescro commented on #57
As I mentioned earlier, the first reported instance of this problem in this issue was really a downstream result of a more sever problem: an incorrect redirect URI was being registered for the client. That problem has been resolved.

I'll create a work item for better handling empty user profile properties.

[2017-06-02 02:34] BurtHarris commented on #56
I just ran through the node.js quick start again from scratch, starting from using the [Microsoft Graph quick-start page](https://developer.microsoft.com/en-us/graph/graph/quick-start) .

I still get an error, though perhaps later in the flow of things than before.

[code]

[2017-06-02 02:36] BurtHarris commented on #56
I'm really happy with TypeScript strict null checking.   It's not a quick fix, but it can really help head-off problems at build time.

[2017-06-02 03:21] jamescro commented on #56
I ran through the quick start successfully. Could you look in your config.js file and verify that correct values were entered for client id and secrey? This is different from the original issue.

[2017-06-02 18:51] BurtHarris opened #63 "Quickstart fails w/ TypeError: Cannot read property 'render' of undefined"
**Environment**
    node v6.10.3
    npm 3.10.10

**Repro**

1. From https://developer.microsoft.com/en-us/graph/graph/quick-start create a new NodeJS project. With copy/paste of application secret.

2.  Download/unzip the generated sample application.  At a command prompt in resulting directory:

        npm I
        npm start

3. Start web browser at http://localhost:3000

**Results**

connect

[2017-06-02 18:51] BurtHarris commented on #56
Your right, it separate issues.   Opened issue #63

[2017-06-02 18:51] #56 closed

[2017-06-02 18:57] BurtHarris commented on #63
P.S.  I ran through this from scratch, just as described above.   Still get the error.   I've confirmed the client ID and clientSecret in config.js match the developer.microsoft.com portal.   This looks unrelated to login to me.

[2017-06-02 19:19] jamescro commented on #63
I took a closer look at the error message, and now I know what this is. I'm assuming that your account doesn't have a profile photo. When I sign in with an account that has no profile photo, I get the error you're seeing. When I sign in with an account that does have a profile photo, I see no problem.
The sample therefore needs to handle that use case.

[2017-06-02 20:50] BurtHarris commented on #63
So another example of #57...

[2017-06-02 20:52] BurtHarris commented on #63
Perhaps the sample should be written in TypeScript with the strict null checking enabled.

[2017-06-02 21:28] jamescro commented on #63
This problem is similar to #57, but that one is also more of a downstream effect of the sample not being configured correctly. In that case, the sample won't work, but better error handling would be nice in that scenario. This is a problem that will happen because even when the "get profile photo" operation works on commercial accounts, some accounts will still not have profile photos, so the code

[2017-06-08 03:37] badapple47 opened #64 "sendMail Function seem not working"
I can login through the first step here it is

Hi, PATHOMPONG CHAISRI (GABLE-NBP-EM)!

You're now connected to Microsoft Graph. Click the button below to send a message from your account using the Microsoft Graph API.

but when I try to send an email it's say

This page isn’t working

localhost didn’t send any data.

<img width="1440" alt="screen shot 2560-06-08 at 10 28 35 am" src="https://user-i

[2017-06-09 18:30] jamescro commented on #64
Thanks for reporting this. Does your account have a profile photo? If not, then this is another instance of a known issue.

[2017-06-09 18:49] jamescro commented on #22
Closing as no longer pertinent.

[2017-06-09 18:49] #22 closed

[2017-06-09 18:50] jamescro commented on #20
Closing as no longer pertinent. We configure the sample differently now.

[2017-06-09 18:50] #20 closed

[2017-06-13 03:25] badapple47 commented on #64
My account have a profile picture @jamescro

[2017-06-13 16:55] jamescro commented on #64
Are you using a consumer (hotmail or live.com) account?

[2017-06-23 14:42] jackluo923 commented on #64
@jamescro Couple other people are having this issue as well. We have profile pictures and hotmail account.

[2017-06-23 14:55] jackluo923 commented on #64
@jamescro It seems many people are having similar issue. We all tried consumer account w/ profile picture.
Here is my log with some information redacted for privacy:

  ADAL
    ✓ Checking clientID and clientSecret in config.js

  1 passing (9ms)

{"name":"AzureAD: OIDC Passport Strategy","hostname":"XXXX","pid":11643,"level":40,"msg":"Production environments should always validate the issuer.","t

[2017-07-06 17:51] jamescro commented on #64
We just checked in a number of changes, including one that should make consumer account profile pictures accessible. Could you try again with the latest version of the repo?

[2017-07-06 17:51] jamescro commented on #63
We've pushed a number of changes to this repo. Could you try again with the latest version?

[2017-07-06 18:21] BurtHarris commented on #63
@jamescro I'm a bit busy right now.

[2017-08-04 16:39] reggi opened #67 "Config Confusion"
Within the [Configure and run the app](https://github.com/microsoftgraph/nodejs-connect-rest-sample/blob/last_v1_auth/README.md#configure-and-run-the-app) portion of the README.md there's a file mentioned `authHelper.js` which isn't found anywhere in the app.

I've managed to find the config file I believe to be referenced. Except there's two!

* `master/starter-project/utils/config.js`
* `master/

[2017-08-04 16:42] jamescro commented on #67
Thanks for alerting us to this issue. We recently updated the sample significantly, so the Readme instructions do need to be changed.

And yes, you're correct that the ClientID and ClientSecret are the same as the ApplicationId and ApplicationSecret. That terminology needs to be updated as well.

[2017-08-04 16:43] jamescro commented on #67
And you can ignore the config.js file that is in the starter-project directory. That directory is for people who are working through the walkthrough here: https://developer.microsoft.com/en-us/graph/docs/concepts/nodejs

[2017-08-04 16:46] reggi commented on #67
@jamescro! Thanks for the quick reply!

Also there's no mention of "Secrets" in the dashboard at all, do you have any insight here?

![diagnose and solve problems - microsoft azure 2017-08-04 12-44-33](https://user-images.githubusercontent.com/296798/28978166-ebe804bc-7912-11e7-803f-4b8dc175d3dc.png)

[2017-08-04 16:48] reggi commented on #67
Also! I just clicked the `Manifest` button and found a beautiful export of JSON, this is what we should use to bring in all the config variables!

[2017-08-04 16:50] jamescro commented on #67
This sample requires a client/application that's registered in at apps.dev.microsoft.com, not the Azure portal. We've used different terms over time. You'll notice that in the app registration portal we use the terms "Application Secret," "Password," and "Public Key" to refer to the same thing:

![image](https://user-images.githubusercontent.com/6666618/28978277-34e88010-78fa-11e7-9853-5870b0acb18

[2017-08-04 16:57] reggi commented on #67
Ok Thanks for the clarification @jamescro, but I'm afraid I'm more confused now. 😅

I was on this page:

https://developer.microsoft.com/en-us/graph/docs/authorization/auth_overview

And if you scroll down for Node.js there's two different URLS.

* [Azure AD endpoint](https://github.com/microsoftgraph/nodejs-connect-rest-sample/tree/last_v1_auth)
* [Azure AD v2.0 endpoint](https://github.com/micro

[2017-08-04 17:03] reggi commented on #67
I've signed into [https://apps.dev.microsoft.com](https://apps.dev.microsoft.com) and it makes a bunch more sense now.

[2017-08-04 17:04] jamescro commented on #67
The "Deciding between the Azure AD and Azure AD v2.0 endpoints" section of the topic you mentioned explains the differences between the two Azure AD endpoints. They are both supported, but they do have significant differences. (For example, the v1.0 endpoint currently supports conditional access, and the v2 endpoint currently does not.) The v2 endpoint allows you to authenticate all kinds of Micro

[2017-08-04 17:09] reggi commented on #67
Thanks again @jamescro  for the general overview, but the `last_v1_auth` doesn't seem very useful if the Azure Portal is unable to create or generate the client secret. Which is the major point of my confusion.

[2017-08-04 17:24] jamescro commented on #67
Sorry. The Azure portal used to use the term "Secret," but now it is using the term "Key," so you can use the "Key" feature that you highlighted in your screen shot earlier in this thread.
I do recommend using the v2 endpoint, though, unless you have special requirements that limit you to v1 only. V2 is generally easier to work with, and it supports live.com and hotmail.com accounts.

[2017-08-04 17:57] emzero opened #68 "TypeError: Cannot read property '0' of undefined"
Cloned the repo, created the app, configured the client id and secret.
The app runs at localhost:3000, authorization recognizes my app and when I allow it, the app goes back to localhost:3000 but throws the following error:

[code]

[2017-08-04 18:00] emzero commented on #68
Nevermind. It works now. Don't know what happened before though.

[2017-08-04 18:00] #68 closed

[2017-08-04 21:18] #67 closed

[2017-08-04 21:19] reggi opened #69 "“Insufficient privileges to complete the operation” for Office365 API"
[This was also posted on Stack Overflow here.](https://stackoverflow.com/questions/45512770/fix-insufficient-privileges-to-complete-the-operation-for-office365-api)

I'm working on this example code found here on github [nodejs-connect-rest-sample][1] it starts a server on port `3000`. Then redirects to microsoft to login.

[![enter image description here][2]][2]

And this screen to provide access

[2017-08-04 21:28] jamescro commented on #69
You should be consenting to more permissions than "read calendar" and "sign in." All of the required permissions are here (in the scope parameter): https://github.com/microsoftgraph/nodejs-connect-rest-sample/blob/master/utils/config.js
And you shouldn't be consenting to Calendar.Read, but in your screen shot it appears that you are.
Did you change the values in the scope parameter of the config.j

[2017-09-01 22:13] jamescro commented on #63
Just checked in a fix for this. Closing

[2017-09-01 22:13] #63 closed

[2017-09-01 22:14] jamescro commented on #69
Closing, for the reasons that I mention in my last comment. The combination of permissions in the authorization request doesn't match what the sample code requests.

[2017-09-01 22:14] #69 closed

[2017-09-01 22:14] jamescro commented on #64
This should be working with recent changes. Closing.

[2017-09-01 22:14] #64 closed

[2017-09-01 22:14] jamescro commented on #62
This should be fixed now.

[2017-09-01 22:14] #62 closed

[2017-09-01 22:15] jamescro commented on #57
Checked in a fix for this. Closing.

[2017-09-01 22:15] #57 closed

[2017-09-12 06:42] sonalchhoda commented on #68
I am getting the same issue ...please let me know the resolution

[2017-10-14 15:12] andrewklaassen opened #70 "API has been updated and is not in Beta anymore"
API has been updated and is not in Beta anymore so the endpoints have changed.
I.e. https://graph.microsoft.com/beta/me is now https://graph.microsoft.com/v1.0/me

[2017-10-16 15:40] jamescro commented on #70
Thanks for the feedback. We're using the /beta endpoint at this point because in this sample we want to use a capability that is still available only on beta: the ability to fetch user profile photos from non-work and non-school Microsoft accounts (live.com). Everything else that this sample does should work on the v1.0 endpoint, though.

[2017-10-16 15:40] #70 closed

[2017-11-27 13:57] PranavSwaroop opened #71 "Unable to connect to microsoft graph"
Hi,
After clicking "Connect to Microsoft Graph" still the page does not load anything. It stops in the main page itself.

Any suggestions how to resolve this issue.

[2017-11-27 15:06] jamescro commented on #71
Which browser are you using? Could you check your security settings and make sure that you're not blocking popups?

[2017-11-27 16:33] brucelane opened #72 "Invalid value for redirectUrl"
hello,
I follow all the steps to setup this repo, but I get this error:
`TypeError: Invalid value for redirectUrl.The URL must be valid and be https://`

My `config.js` contains `redirectUrl: 'https://localhost:3000/'`

Any hint?
Thank you

[2017-11-27 16:36] jamescro commented on #72
This looks like a configuration issue. Could you go to this page:
https://developer.microsoft.com/en-us/graph/quick-start
And choose the Node quick start from there. That will give you a preconfigured version of this same sample. If the sample works when you configure it as a quick start, then you can compare the app registrations to see what might be causing the problem.

[2017-11-27 16:37] jamescro commented on #71
Could you go to this page:
https://developer.microsoft.com/en-us/graph/quick-start
And choose the Node quick start from there. That will give you a preconfigured version of this same sample. If the sample works when you configure it as a quick start, then you can compare the app registrations to see what might be causing the problem.

[2017-11-27 16:44] brucelane commented on #72
yes, it works with this quick start, thank you!
I was using https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-devquickstarts-node-web

[2017-11-27 16:47] jamescro commented on #72
Thanks. It looks like there might be an issue with that topic, since others who are using it seem to be having the same problem. Could you post a question about that topic to StackOverflow?

https://stackoverflow.com/questions/tagged/azure-active-directory

[2017-11-27 17:31] brucelane commented on #72
done here: https://stackoverflow.com/questions/47516669/invalid-value-for-redirecturl-following-active-directory-v2-devquickstarts-node

[2017-11-27 17:39] jamescro commented on #72
Thanks. Since the code in the Node quick start is identical to the code in this repo, the issue you capture in the SO question must be the real problem. Closing this issue for now. Please reopen or file another issue if you have any other problems with this sample.

[2017-11-27 17:39] #72 closed

[2017-12-05 04:31] wudeyong opened #73 "Using http for redirectUrl is not recommended, please consider using https"
Hi:
  I try to run the JavaScript demo code in nodejs,but it rutern an error page in chrome browser.When i sign into my Account,it give me an error tips in nodejs terminal window:"Using http for redirectUrl is not recommended, please consider using https",It is that http protocol doesn't  support any more?

chrome version:62.0.3202.94
nodejs version:6.9.2
redirectUrl:http://localhost:3000/login

-

[2017-12-05 04:40] #73 closed

[2017-12-05 07:41] wudeyong opened #74 "Is that the guideline have some ERROR?"
Hi:

   I found that guideline in README **#Register the application** 8._Enter http://localhost:3000/login
 as the Redirect URI._ have an error.Maybe the Redirect URI should be http://localhost:3000/token.

thanks.

DavinWu

[2017-12-05 17:29] jamescro commented on #74
Thanks for alerting us to this issue. I've updated the redirect URI in the readme.

[2017-12-05 17:29] #74 closed

[2017-12-05 17:29] jamescro commented on #71
Closing for now. Please reopen if you see the same problem in the quick start version of this sample.

[2017-12-05 17:29] #71 closed

[2018-04-04 23:49] mconstantin opened #76 "sample doesn't render the "emailSender" view"
Trying to use this sample.. it prompts for signing in and consent, but afterwards it lands back on the home page (w/ the Connect to Microsoft Graph button).
I see the request to the /token?code=...&state=... endpoint, but it redirects to the passport failure endpoint, which is '/'.
How can I get some additional info on why the authentication failed?

[2018-04-20 22:48] craig-pulliam commented on #76
Similar issue with me except when I try to tinker with this project at all it puts me in a sign in loop. If I run the sterile sample it works perfectly fine. Obviously its something I'm doing and not the project itself but even when I undo any changes I made it will continue to loop me.

[2018-05-30 09:24] luckyhegde opened #77 "getting invalid request errors & reply url errors while deploying as azure site"
Ive Deployed the Node js web app as .azurewebsites.net , while connecting to the graph getting errors like invalid request with & unable to validate token also error AADSTS50011: The reply url specified in the request does not match the reply urls configured for the application even though the right redirect is configured. Please help or suggest how to deploy the nodejs app to azure site

[2018-06-06 00:15] edwardkoval opened #78 "error handling issue"
https://github.com/microsoftgraph/nodejs-connect-rest-sample/blob/a3d89c2280d4776c3a45a8541b8636b19d6d75b4/app.js#L99

Looks like line 99 will always override the error handling on line 87

[2018-06-14 21:52] twisstosin commented on #64
Encountered this issue again with the latest changes.

[2018-08-02 12:38] DaveVoyles opened #80 "Where are you getting the access token from?"
In [`nodeSample.js`](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/samples/node/node-sample.js) it looks like the token is coming from the [`secrets.example.json`.](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/samples/node/secrets.example.json)

I don't understand how to store it in there. I thought we receive the token when authenticate with azure AAD, so

[2018-10-15 03:53] iFwu commented on #53
@DianeD So why not just replace the method? I don't think it will cause any unexpected problem.

[2018-10-27 16:15] taketakekaho opened #81 "500 Internal Server Error"
I tried the sample on my Windows 10 Pro(ver1803 build 17134.345) PC, but it does not work well.
I started the node sample as described in the tutorial.
[code]

I executed the SendMail button at http: // localhost: 3000 but Internal Server Error is displayed.
![image](https://user-images.githubusercontent.com/28744902/47606342-5e0c4700-da4d-11e8-9c2f-ccc54c25376d.png)

[code]

Am I something wrong?

[2018-10-31 17:57] jasonjoh commented on #81
@taketakekaho we are archiving this sample as it is no longer being maintained. We're replacing it with a new sample which you can find here: https://github.com/microsoftgraph/msgraph-training-nodeexpressapp

[2018-10-31 17:57] #81 closed

[2018-10-31 17:58] jasonjoh commented on #80
@DaveVoyles we're archiving this sample as it's no longer being maintained. We're replacing it with the following: https://github.com/microsoftgraph/msgraph-training-nodeexpressapp.

[2018-10-31 17:58] #80 closed

[2018-10-31 17:58] jasonjoh commented on #78
@edwardkoval we're archiving this sample as it's no longer being maintained. We're replacing it with the following: https://github.com/microsoftgraph/msgraph-training-nodeexpressapp.

[2018-10-31 17:58] #78 closed

[2018-10-31 17:59] jasonjoh commented on #77
@luckyhegde we're archiving this sample as it's no longer being maintained. We're replacing it with the following: https://github.com/microsoftgraph/msgraph-training-nodeexpressapp.

[2018-10-31 17:59] #77 closed

[2018-10-31 17:59] jasonjoh commented on #76
@mconstantin we're archiving this sample as it's no longer being maintained. We're replacing it with the following: https://github.com/microsoftgraph/msgraph-training-nodeexpressapp.

[2018-10-31 17:59] #76 closed